// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  background: #fff;
}

article .entry-content {
  text-align: left;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  h3 {
    margin-top: 30px;
  }

  .footnotes {
    margin-top: 70px;
  }
}